tracy:
    strictMode: false

session:
    autoStart: true
    debugger: true

services:
    ForumsManager: phpBB2\Models\ForumsManager
    PostsManager: phpBB2\Models\PostsManager
    ThanksManager: phpBB2\Models\ThanksManager
    TopicsManager: phpBB2\Models\TopicsManager
    UsersManager: phpBB2\Models\UsersManager
