The following is an email sent to you by an administrator of "{$SITENAME}". If this message is spam, contains abusive or other comments you find offensive please contact the webmaster of the board at the following address:<br>

{$BOARD_EMAIL}<br>

Include this full email (particularly the headers). <br>

Message sent to you follows:<br>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br>

{$MESSAGE}
