Congratulations,<br>

Your request to join the "{$GROUP_NAME}" group on {$SITENAME} has been approved.<br>
Click on the following link to see your group membership.<br>

{$U_GROUPCP}<br>

{$EMAIL_SIG}<br>
