Dear {$GROUP_MODERATOR},<br>

A user has requested to join a group you moderate on {$SITENAME}.<br>
To approve or deny this request for group membership please visit the following link:<br>

{$U_GROUPCP}<br>

{$EMAIL_SIG}<br>
