Congratulations,<br>

You have been added to the "{$GROUP_NAME}" group on {$SITENAME}.<br>
This action was done by the group moderator or the site administrator, contact them for more information.<br>

You can view your groups information here:<br>
{$U_GROUPCP}<br>

{$EMAIL_SIG}<br>
